.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-header button:disabled {
  background-color: #ccc;
}

.mode-toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
}

.mode-toggle-button:hover {
  background-color: #21a1f1;
}

.App-main {
  padding: 20px;
}